---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Raggermeister"
	pubDate={new Date('October 20 2025')}
>
	<h1>Raggermeister</h1>

	<p>Building RAG systems.</p>

	<p>anton@raggermeister.com</p>
</Layout>