---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
	<main>
		<h1>Raggermeister</h1>
		<p>Building RAG systems.</p>
		<p>anton@raggermeister.com</p>
	</main>
</BaseLayout>